.productos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 20px;
}

.producto-card {
  width: 260px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 16px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  width: 260px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.producto-card:hover {
  transform: translateY(-4px);
}

/* Imagen del curso */
.imagen-curso {
  width: 100%;
  height: 180px;          
  object-fit: cover;      
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #d52a2a;  
}

/* Título y precio */
h3 {
  font-size: 20px;
  margin: 8px 0 4px;
  text-align: center;
   font-size: 20px;
  margin: 8px 0 4px;
  text-align: center;
  color: #333;
  min-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.precio {
  color: #555;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Selector de cantidad */
.cantidad-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
   color: #535eeb;
  font-size: 14px;
}

input[type="number"] {
  width: 60px;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #640b0b;
}

/* Botón de agregar */
.btn-agregar {
  background-color: #5f27cd;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #341f97;
}

/* Responsive para mobile */
@media (max-width: 768px) {
  .productos-grid {
    justify-content: center;
    padding: 10px;
  }

  .producto-card {
    width: 100%;
    max-width: 280px;
  }
}

.carrusel-css {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 24px;
  padding: 20px;
  scrollbar-width: none;
}
.carrusel-css::-webkit-scrollbar {
  display: none;
}
.slide {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

